*{
	padding:0px;
	margin: 0px;
	font-family: Consolas;
}
.hide{
	display: none;
}
.invisible{
	visibility: hidden;
}
html{
	height: 500px;	
}
#noted{
	width: 300px;
	height: 100%;
}

#noted header{
	  font-weight: bold;
		 font-size: 19px;
}
#noted header img{
vertical-align: sub;
}
#noted #editor textarea{
    height: 100%;
	width: 100%;
	text-align: left;
	padding:3px;
	border: none;
}
#noted #editor textarea:focus{
	outline-style: none;
}
#noted #saved-noted{
		padding: 5px;
}
#noted #saved-noted li a{
	color:#333;
}
#noted #saved-noted li img{
	width: 15px;
    vertical-align: sub;
    margin-right: 4px;
}
#noted #saved-noted li a:hover{
	background: #ccc;
}
#noted .obscure{
	color: rgb(160, 160, 160);
}
#noted .danger{
	color: rgb(239, 143, 143);
}
#noted #editor{
	text-align: right;
	padding: 10px;
	
}
#noted #editor a{
	text-decoration: none;
}
#noted #editor a:hover{
	color:#ccc;
}